<div>
	<div id="pageHeader" class="header holder" ng-controller="StartController">
		<div id="headerText">
		Calculete: Calculation Athletics!
		</div>
	</div>
	<div id="difficultyChoice">
		<label class="text-label"> 
			<span class="text-label-inner-text">
				Choose difficulty:
			</span>
		</label>
		<input type="radio" name="difficulty" value="easy" id="easyDifficulty" />
		<label for="easyDifficulty" class="radio-label"> <span> Easy </span> </label>
		<!-- <input type="radio" name="difficulty" value="easy"> Easy </input>
		<input type="radio" name="difficulty" value="medium"> Medium </input>
		<input type="radio" name="difficulty" value="Hard"> Hard </input> -->
	</div>
	<button class="btn choiceBtn">
		Please make me prettier and not very button-y
	</button>
	<button class="btn choiceBtn">
		I also want to be prettier. Ooh, and add me some classes as well!
	</button>
	<!-- 	<input class="form-control" placeholder="This is so I can riff on Bootstrap" type="text" /> -->
</div>