.header {
	width: 90%;
	margin: 2% 5%;
	border: 1px solid transparent;
	border-radius: 15px;
	height: 20%;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.holder {
	background-color: #0B89E6;
	color: white;
}

#headerText {
	font-size: 5vmin;
}

.choiceBtn {
	background-color: #0B89E6;
	color: white;
	width: 50%;
	height: 10%;
	margin: 1% 25%;
	font-size: 2vmin;
}